<ul class="@(IsRoot ? "rootEntry" : null)">
@foreach (var entry in EntryPaths)
{
    @if (entry.Attributes.HasFlag(FileAttributes.Directory))
    {
        <li>
            <details>
                <summary>@entry.Name</summary>
                <DirectoryEntries EntryPaths="@(new DirectoryInfo(entry.FullName).EnumerateFileSystemInfos())" OnSelectFile="OnSelectFile" IsRoot="false"/>
            </details>
        </li>
    }
    else if (entry.Attributes.HasFlag(FileAttributes.Normal))
    {
        <li @onclick="() => OnSelectFile.InvokeAsync(entry.FullName)">@entry.Name</li>
    }
}
</ul>

@code {
    [Parameter]
    public required IEnumerable<FileSystemInfo> EntryPaths { get; set; }

    [Parameter]
    public required EventCallback<string> OnSelectFile { get; set; }

    [Parameter]
    public required bool IsRoot { get; set; }
}
