<ul>
@foreach (var entry in EntryPaths)
{
    @if (entry.Attributes.HasFlag(FileAttributes.Directory))
    {
        <li>
            @entry.Name
            <DirectoryEntries BaseDir="@BaseDir" EntryPaths="@new DirectoryInfo(entry.FullName).EnumerateFileSystemInfos()" OnSelectFile="OnSelectFile" />
        </li>
    }
    else if (entry.Attributes.HasFlag(FileAttributes.Normal))
    {
        <li @onclick="() => OnSelectFile.InvokeAsync(entry.FullName)">@entry.Name</li>
    }
}
</ul>

@code {
    [Parameter]
    public required string BaseDir { get; set; }

    [Parameter]
    public required IEnumerable<FileSystemInfo> EntryPaths { get; set; }

    [Parameter]
    public required EventCallback<string> OnSelectFile { get; set; }
}
