@using ZipishLens.Signature.Resource
<ul>
    <li>
        Issuer Certificate
        <CertificateView Certificate="@Signature.IssuerCertificate"/>
    </li>
    @if (Signature.IntermediateCertificate is not null)
    {
        <li>
            Intermediate Certificate
            <CertificateView Certificate="@Signature.IntermediateCertificate"/>
        </li>
    }
</ul>

@code {
    [Parameter] public required SignedData Signature { get; set; }
}
