@page "/"
@using System.IO.Compression
@using ZipishLens.Shared

<main>
    <nav class="sidebar">
        <div class="top-row navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">ZipishLens</a>
            </div>
        </div>

        <DirectoryEntries EntryPaths="_loadedFiles" OnSelectFile="SelectFile" IsRoot="true"/>
    </nav>

    <section>
        <div class="top-row">
            <InputFile OnChange="LoadFiles"/>
            <a href="https://github.com/muno92/zipish-lens/" target="_blank">About</a>
        </div>

        <article class="content">
            @if (!string.IsNullOrEmpty(_message))
            {
                <p>@_message</p>
            }
            @if (!string.IsNullOrEmpty(_selectedFile))
            {
                <FileContent FilePath="@_selectedFile"/>
            }
        </article>
    </section>

</main>

@code {
    private IEnumerable<FileSystemInfo> _loadedFiles = [];
    private readonly string _tmpFilePath = "/tmp/tmp_file.zip";
    private readonly string _tmpDirPath = "/tmp/tmp_dir/";
    private string _selectedFile = "";
    private string _message = "Please upload a zipish file. (a file that can be unzipped as a zip file, e.g. pkpass, xlsx)";

    private void SetUp()
    {
        _loadedFiles = [];
        _selectedFile = "";
        _message = "";
        if (File.Exists(_tmpFilePath))
        {
            File.Delete(_tmpFilePath);
        }

        if (Directory.Exists(_tmpDirPath))
        {
            Directory.Delete(_tmpDirPath, true);
        }
        Directory.CreateDirectory(_tmpDirPath);
    }

    private async Task LoadFiles(InputFileChangeEventArgs obj)
    {
        SetUp();

        var uploadedFile = obj.GetMultipleFiles().Single();

        await using FileStream fs = new FileStream(_tmpFilePath, FileMode.Create);
        try
        {
            // Large files (> 250 MB) may not be uploaded.
            // https://learn.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-9.0#file-size-read-and-upload-limits
            await uploadedFile.OpenReadStream(100 * 1024 * 1024).CopyToAsync(fs);
        }
        catch (IOException)
        {
            _message = "Unable to upload file. File size limit is 100MB";
            return;
        }

        try
        {
            ZipFile.ExtractToDirectory(_tmpFilePath, _tmpDirPath);
        }
        catch (InvalidDataException)
        {
            _message = "Unable to unzip uploaded file.";
            return;
        }

        _loadedFiles = new DirectoryInfo(_tmpDirPath).EnumerateFileSystemInfos();
    }

    private void SelectFile(string filePath)
    {
        _selectedFile = filePath;
    }
}
