main {
    flex: 1;
    display: grid;
    grid-template-columns: 300px 1fr;
    overflow: hidden;

    /**
     * Declare it outside of .sidebar to reduce specificity
     */
    .mobile-view {
        display: none;
    }

    .desktop-view {
        display: block;
    }

    .sidebar {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        display: flex;
        flex-direction: column;

        .top-row {
            padding-left: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        .mobile-view summary {
            color: white;
            font-size: 1.1rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .top-row {
            background-color: #f7f7f7;
            border-bottom: 1px solid #d6d5d5;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;

            .about {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }

        .content {
            flex: 1;
            display: flex;
            overflow: auto;

            img {
                object-fit: contain;
            }
        }
    }
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;

        .sidebar .mobile-view {
            display: block;
        }

        .sidebar .desktop-view {
            display: none;
        }

        section {
            flex: 1;
        }
    }
}

/* タブレット対応 */
@media (max-width: 1024px) and (min-width: 769px) {
    main {
        grid-template-columns: 250px 1fr;
    }
}

